name: Xmake CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up Xmake
      uses: xmake-io/github-action-setup-xmake@v1
      with:
        xmake-version: 'latest'

    - name: Configure project
      run: xmake config -m releasedbg -y
    
    - name: Build project
      run: xmake build
